{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} />

{% include 'fenster/base.html' %}

<h1>Das fenster</h1>

<form action="{% url 'buy' %}" method="post">
{% csrf_token %}
{% for afenster in fenster_list %}
{% if afenster.status_of_object %}
{% load static %}
<table border="6" background="{% static 'city.jpg' %}" style="width:500px" class="fenster">
  <tr height="100px">
    <td colspan="2">
		
			Ширина: {{afenster.fenster_width}}
<br/>
			Высота: {{afenster.fenster_height}}
<br/>
			Схема: {{afenster.fenster_scheme}}
<br/>	
			Широта: {{afenster.latitude}}
<br/>
			Долгота: {{afenster.longitude}}
<br/>		
			Высота: {{afenster.altitude}}
<br/>	
			Цена: {{afenster.price}}
<br/>	
		<input
			type="radio"
			name="selected_fenster"
			id="fenster{{afenster.id}}"
			checked="checked"
			value="{{afenster.id}}"
			/>
		<label for=fenster{{afenster.id}}>
			fenster №{{afenster.id}}
					
		</label>
    </td>
  </tr>
<tr height="100px">
	<td></td><td></td></tr>
</table>
{% endif %}
{% endfor %}
<input type="submit" value="Buy">
</form>
