<h1>New fenster</h1>

<form action="{% url 'sell' %}" method="post">
{% csrf_token %}
Ширина: <input
	type="text"
	name="fenster_width"
	value="100"
	id="fenster_width"
/><br />
Высота: <input
	type="text"
	name="fenster_height"
	value="100"
	id="fenster_height"
/><br />
Схема:<input
	type="text"
	name="fenster_scheme"
	value="1,2"
	id="fenster_scheme"
/><br />
Широта:<input
	type="text"
	name="latitude"
	value="1.0"
	id="fenster_scheme"
/><br />
Долгота:<input
	type="text"
	name="longitude"
	value="1.0"
	id="fenster_scheme"
/><br />
Высота:<input
	type="text"
	name="altitude"
	value="1.0"
	id="fenster_scheme"
/><br />
Цена:<input
	type="text"
	name="price"
	value="1.0"
	id="fenster_scheme"
/><br />
<input type="submit" value="Выставить на продаже" />
</form>

